body {
  padding: 0;
}

.reading-list-content {
  padding-right: 20px;
  width: inherit;
}

.reading-list-content .reading-list-items {
  padding-bottom: 600px;
}

.reading-list-mini-map-item {
  cursor: pointer;
}

.reading-list-mini-map-item .mini-map-active-icon {
  visibility: hidden;
}

.reading-list-mini-map-item.reading-list-active .mini-map-active-icon {
  visibility: visible;
}

.reading-list-mini-map-item.sub-item {
  margin-left: 10px;
}
