.reading-list-left-nav {
  background-color: #555555;
  height: 100%;
  position: fixed;
  width: 300px;               /* note: this width is the reading-list-content margin-left */
}

.reading-list-left-nav .reading-list-mini-map {
  margin: 10px;
}

.reading-list-left-nav .reading-list-mini-map .reading-list-mini-map-item {
  margin-bottom: 10px;
}

.reading-list-left-nav .reading-list-mini-map .reading-list-mini-map-item .nav-viewing-indicator {
  visibility: hidden;
}

.reading-list-left-nav .reading-list-mini-map .reading-list-mini-map-item.active .nav-viewing-indicator {
  visibility: visible;
}

.reading-list-content {
  display:inline-block;
  margin-left: 300px;         /* note: this value should match sticky-left-nav width */
}

.reading-list-content .reading-list-items {
  padding: 1px 0;             /* padding to ensure you can reach bottom of articles */
}

.reading-list-content .reading-list-items .reading-list-item {
  margin: 30px 0px 30px;
  display: none;
}

.reading-list-content .reading-list-items .reading-list-item.loading {
  background-color: #0af;
  display: block;
}

.reading-list-content .reading-list-items .reading-list-item.loaded {
  display: block;
}

.reading-list-content .reading-list-items .reading-list-item.load-failed {
  background-color: #f00;
  display: block;
}

.reading-list-content .reading-list-items .reading-list-item article {
  padding: 0 50px;
}

.reading-list-content .reading-list-items .reading-list-item article h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.reading-list-content .reading-list-items .reading-list-item article p {
  font-size: 20px;
  margin-bottom: 10px;
}

.reading-list-content .reading-list-items .reading-list-item section.adspace {
  color: #ffff00;
  background-color: #ff0000;
  height: 400px;
}
