<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Infinite Scroll - Reading List 1</title>

  <link rel="stylesheet" type="text/css" href="/jquery.reading-list.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/reading-list.css">

  <script src="/jquery/dist/jquery.js"></script>
  <script src="/lodash/lodash.js"></script>

  <script src="/jquery.reading-list.browserify-shim.js"></script>

  <script src="/js/reading-list-init.js"></script>

</head>
<body>
  <div class="reading-list-container">
    <div class="reading-list-left-nav">
      <ul class="reading-list-mini-map">
        {% for item in items %}
          <li class="reading-list-mini-map-item" data-item-ref="{{ item.slug }}">
            <span class="nav-viewing-indicator">&#x2713;</span>
            <a href="/{{ item.type }}/{{ item.slug }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="reading-list-status">
      <div class="article-progress">PROGRESS</div>
    </div>
    <div class="reading-list-content">
      <div class="reading-list-items">
        {% for item in items %}
          <div id="{{ item.slug }}" class="reading-list-item" data-href="/{{ item.type }}/{{ item.slug }}">
            <div class="reading-list-loader">Up next {{ item.title }}...</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</body>
</html>
