#stickyLeftNav {
  background-color: #555555;
  height: 100%;
  position: fixed;
  width: 300px;               /* note: this width is the reading-list-content margin-left */
}

#stickyLeftNav ul {
  margin: 10px;
}

#stickyLeftNav ul li {
  margin-bottom: 10px;
}

#readingListContent {
  display:inline-block;
  height: 100%;
  margin-left: 300px;         /* note: this value should match sticky-left-nav width */
  overflow-y: scroll;
  position: fixed;
}

#readingListContent #readingListArticles {
  padding: 1px 0;             /* padding to ensure you can reach bottom of articles */
}

#readingListContent #readingListArticles section {
  margin: 30px 0px 30px;
  opacity: hidden;
}

#readingListContent #readingListArticles section.article {
  padding: 0 50px;
}

#readingListContent #readingListArticles section.article h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

#readingListContent #readingListArticles section.article p {
  font-size: 20px;
  margin-bottom: 10px;
}

#readingListContent #readingListArticles section.adspace {
  color: #ffff00;
  background-color: #ff0000;
  height: 400px;
}
